We are focusing on 7 countries:
Sudan (SU)
South Sudan (SS): Doesnt have daily or even monthly data for much of the time since 90s. Maybe due to the war. Lack of weather data in itself can be a metric? 
Eritrea (ER): Sparse Data
Ethiopia (ET)
Somalia (SO): Sparse Data
Uganda (UG)
Tanzania (TZ)
Rwanda (RW)?
Burundi (BI)?

In [2]:
import pandas as pd
import numpy as np
import os
import sys
import datetime

You can loop over each line in each file and separate them out in relevant columns as they all seem to align somehow. If you do this for each line then each file you'll have built your dataset for the relevant countries. Then you need to somehow aggregate this daily weather data into monthly data? You also need geographical information about these stations which you should get separately and join with this. Once thats done you may be able to send this data for integration to others.

In [3]:
def process_df_files(df_file):
    """
    Function that takes a pandas df (read from file) and processes it into relevant columns and size. 
    Removes all flag values keeping only metric values.
    """
    # Initiatilze a dataframe to return results; also two numpy arrays for string and numerical columns
    # There are 4 columns with str data and 31 columns for each day of the month with numerical data
    temp = pd.DataFrame()
    temp_str_data = np.empty((df_file.shape[0], 5), dtype=object)
    temp_num_data = np.empty((df_file.shape[0], 31))

    # Each line has 270 characters. Using the readme df_file information, we divide each line into multiple parts - 
    # stationid, year .. day31 etc. This is saved in the temporary arrays (used np arrays for efficiency)
    for i, each_line in df_file.iterrows():
        temp_str_data[i, 0] = each_line[0][:2]
        temp_str_data[i, 1] = each_line[0][:11]
        temp_str_data[i, 2] = each_line[0][11:15]
        temp_str_data[i, 3] = each_line[0][15:17]
        temp_str_data[i, 4] = each_line[0][17:21] 
        for j, str_pos in enumerate(range(21,266,8)):
            temp_num_data[i, j] = each_line[0][str_pos:str_pos+5]

    # Take each column from temporary arrays(both str and num) and make them into columns for our final dataframe
    temp['country'] = temp_str_data[:,0]
    temp['station_id'] = temp_str_data[:,1]
    temp['year'] = temp_str_data[:,2]
    temp['month'] = temp_str_data[:,3]
    temp['metric'] = temp_str_data[:,4]
    for column_no in range(temp_num_data.shape[1]):
        col_name = 'day'+str(column_no+1)
        temp[col_name] = temp_num_data[:,column_no]

    return temp


process_df_files(pd.read_table("ghcnd_project\\ER000063021.dly", header=None))

,country,station_id,year,month,metric,day1,day2,day3,day4,day5,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,ER,ER000063021,1943,01,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ER,ER000063021,1943,02,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,-9999.0,-9999.0
2,ER,ER000063021,1943,03,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ER,ER000063021,1943,04,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0
4,ER,ER000063021,1943,05,TMAX,230.0,220.0,220.0,190.0,230.0,...,270.0,260.0,270.0,270.0,270.0,270.0,270.0,280.0,270.0,260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,ER,ER000063021,2012,03,TAVG,182.0,183.0,175.0,219.0,-9999.0,...,-9999.0,-9999.0,182.0,210.0,-9999.0,212.0,227.0,182.0,-9999.0,201.0
2088,ER,ER000063021,2012,04,TAVG,231.0,206.0,195.0,-9999.0,-9999.0,...,191.0,198.0,167.0,220.0,242.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2089,ER,ER000063021,2012,05,TAVG,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2090,ER,ER000063021,2014,02,TAVG,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,190.0,-9999.0,-9999.0,205.0,219.0,240.0,180.0,-9999.0,-9999.0,-9999.0
2091,ER,ER000063021,2014,05,TAVG,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [ ]:
list_of_filenames = ["ghcnd_project\\"+filename for filename in os.listdir('ghcnd_project')]
list_of_dataframes = [process_df_files(pd.read_table(filename, header=None)) for filename in list_of_filenames]

In [4]:
wdf = pd.concat(list_of_dataframes)
wdf

,country,station_id,year,month,metric,day1,day2,day3,day4,day5,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
0,ER,ER000063021,1943,01,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ER,ER000063021,1943,02,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0,-9999.0,-9999.0
2,ER,ER000063021,1943,03,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ER,ER000063021,1943,04,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0
4,ER,ER000063021,1943,05,TMAX,230.0,220.0,220.0,190.0,230.0,...,270.0,260.0,270.0,270.0,270.0,270.0,270.0,280.0,270.0,260.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
680,UG,UG000063726,1986,08,PRCP,0.0,0.0,3.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,66.0,62.0
681,UG,UG000063726,1986,09,PRCP,34.0,78.0,0.0,0.0,10.0,...,38.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9999.0
682,UG,UG000063726,1986,10,PRCP,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,231.0,0.0,0.0,51.0,268.0
683,UG,UG000063726,1986,11,PRCP,72.0,0.0,80.0,13.0,0.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
684,UG,UG000063726,1986,12,PRCP,6.0,0.0,0.0,16.0,9.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0

In [5]:
wdf['year'] = pd.to_datetime(wdf['year'], format='%Y').dt.year
wdf['month'] = pd.to_datetime(wdf['month'], format='%m').dt.month
wdf2008 = wdf[wdf['year']>2008]

In [6]:
wdf2008.groupby('country').count()

,station_id,year,month,metric,day1,day2,day3,day4,day5,day6,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
country,,,,,,,,,,,,,,,,,,,,,
ER,68,68,68,68,68,68,68,68,68,68,...,68,68,68,68,68,68,68,68,68,68
ET,2540,2540,2540,2540,2540,2540,2540,2540,2540,2540,...,2540,2540,2540,2540,2540,2540,2540,2540,2540,2540
KE,3294,3294,3294,3294,3294,3294,3294,3294,3294,3294,...,3294,3294,3294,3294,3294,3294,3294,3294,3294,3294
RW,520,520,520,520,520,520,520,520,520,520,...,520,520,520,520,520,520,520,520,520,520
SU,5345,5345,5345,5345,5345,5345,5345,5345,5345,5345,...,5345,5345,5345,5345,5345,5345,5345,5345,5345,5345
TZ,3627,3627,3627,3627,3627,3627,3627,3627,3627,3627,...,3627,3627,3627,3627,3627,3627,3627,3627,3627,3627

In [11]:
wdf2008[wdf2008["country"]=="ER"]

,country,station_id,year,month,metric,day1,day2,day3,day4,day5,...,day22,day23,day24,day25,day26,day27,day28,day29,day30,day31
2024,ER,ER000063021,2010,6,TMAX,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,246.0,-9999.0
2025,ER,ER000063021,2010,6,TMIN,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,104.0,126.0,-9999.0,116.0,-9999.0,114.0,-9999.0,-9999.0
2026,ER,ER000063021,2010,6,TAVG,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,212.0,195.0,203.0,-9999.0,203.0,-9999.0,178.0,173.0,-9999.0
2027,ER,ER000063021,2010,7,TMIN,112.0,82.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2028,ER,ER000063021,2010,7,PRCP,0.0,-9999.0,-9999.0,79.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2087,ER,ER000063021,2012,3,TAVG,182.0,183.0,175.0,219.0,-9999.0,...,-9999.0,-9999.0,182.0,210.0,-9999.0,212.0,227.0,182.0,-9999.0,201.0
2088,ER,ER000063021,2012,4,TAVG,231.0,206.0,195.0,-9999.0,-9999.0,...,191.0,198.0,167.0,220.0,242.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2089,ER,ER000063021,2012,5,TAVG,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0
2090,ER,ER000063021,2014,2,TAVG,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,190.0,-9999.0,-9999.0,205.0,219.0,240.0,180.0,-9999.0,-9999.0,-9999.0
2091,ER,ER000063021,2014,5,TAVG,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,...,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0,-9999.0